.App {
  box-sizing: border-box;
}

.App aside {
  width: 25%;
  height: 100vh;
  background: lightgray;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em;
}

.App main {
  width: 75%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  padding: 1em;
}

.department__name,
.employee__name {
  font-size: larger;
}

.department__actions,
.employee__actions {
  float: right;
}

.department__new,
.employee__new {
  margin: 1em;
}

.form-control {
  margin-bottom: 1em;
}